@charset "UTF-8";
@font-face {
  font-family: '兰亭';
  src: url("/方正兰亭细_GBK.TTF"); }

html, body, #app {
  width: 100%;
  margin: 0; }

body {
  line-height: 1.5;
  font-size: 15px;
  font-family: "兰亭";
  text-align: justify; }

h1, h2, h3 {
  margin: 0;
  font-weight: lighter; }

p {
  margin: .2rem 0; }

a {
  text-decoration: none;
  color: black; }

.clear {
  clear: both !important; }

.iconfont {
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.7); }

#app > div > div.resume-side {
  position: fixed;
  right: 0;
  top: calc(50vh - 4rem); }

#app > div > div.resume-side.resume-navBtn div a {
  display: block;
  background-color: #abc;
  color: #abc;
  width: 6rem;
  height: 3rem;
  text-align: center;
  line-height: 3;
  transition: .2s linear;
  transform: translateX(5.2rem); }

#app > div > div.resume-side.resume-navBtn div a:hover {
  transform: translateX(0);
  height: 2.5rem;
  line-height: 2.5;
  color: #fff; }

@media (max-width: 768px) {
  #app #downloadBtn {
    width: 100vw;
    border-radius: 0;
    margin-top: 0; }
  #app > div > div.resume-side {
    display: none; } }

@media print {
  #app #downloadBtn {
    display: none; } }
