@font-face {
  font-family: '方正兰亭纤黑';
  src: url('/fangzheng.ttf');
}
html, body, #app {
  width: 100%;
  margin: 0;
}

body {
  line-height: 1.5;
  font-size: 15px;
  font-family: "兰亭";
  text-align: justify;
}

h1, h2, h3 {
  margin: 0;
  font-weight: lighter;
  font-family: '方正兰亭纤黑';
}

p {
  margin: .2rem 0;
}

a {
  text-decoration: none;
  color: rgb(0,0,0);
}
.clear {
  clear: both !important;
}

.iconfont {
  vertical-align: middle;
  color: rgba(0,0,0,.7);
}
#app>div>div.resume-side {
  position: fixed;
  right: 0;
  top: calc(50vh - 4rem);
  &.resume-navBtn {
    div a{
      display: block;
      background-color: #2196F3;
      color: #2196F3;
      width: 6rem;
      height: 3rem;
      text-align: center;
      line-height: 3;
      transition: .2s linear;
      transform: translateX(5.2rem);
    }
    div a:hover {
      transform: translateX(0);
      height: 2.5rem;
      line-height: 2.5;
      color: #fff;
    }
  }
}

//==============
//btn
//==============

@media (max-width: 768px){
  #app #downloadBtn{
    width: 100vw;
    border-radius: 0;
    margin-top: 0;
  }
  #app>div>div.resume-side{
    display: none;
  }
}

@media print {
  #app #downloadPDF { display: none;}
}
