$p: resume-;
$main-color: #2196F3;
.#{$p}container {
  max-width: 800px;
  box-sizing: border-box;
  background-color: #fff;
  margin: 0 auto;
  $chunk: resume-infoChunk;
  &>div {
    transition: all 500ms ease-out;
    transform: translateY(2.5rem);
    opacity: 0;
  }
  &>div.played{
    transform: none;
    opacity: 1;
  }
  .#{$chunk} {
    margin-top: 1.5rem;
    light {
      font-weight: 600;
    }
    .#{$chunk}-title {
      margin-bottom: 1rem;      
      hr {
        border: none;
        border-top: 1px solid #ddd;
      }
      h2 { 
        display: inline-block;
        padding-right: 1.5rem;
        font-size: 1.3rem;
        background-color: #fff;
        color: $main-color;
      }
    }

    .#{$chunk}-body {
      div {
        margin-top: .5rem;
      }
      h3 {
        margin: 0.5rem 0 .5rem 0;
      }
      h3:after {
        content: ' ';
        border-bottom: 1px solid #ddd;
        width: 2.5em;
        display: block;
      }
    }
  }

  .#{$p}info {
    div:first-child {
      float: left;
    }
    div:nth-child(2) {
      float: right;
    }
    h1 {margin-top: 2rem;}
  }
  
  .#{$p}exp {
    &-item {
      margin-bottom: 1.5rem;
      &-title {
        h3 { float: left;}
        span {
          float: right;
        }
      }
      p { 
        h4 { margin: 0;}
      }
    }
  }
}

/* -------------------------------------- */

@media (max-width: 768px){
  .#{$p}container{
    width: 100vw;
  }
  .resume-container > div {
    padding-left: 1rem;
    padding-right: 2rem;
  }
}